<ion-view title="Indizi che hai trovato">
  <ion-nav-buttons side="left">
    <img src="img/icons/favicon-42x42.png" />
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon button-icon" style="min-width:50px; font-size:3em;" ng-click="takeaSelfie()"><i class="ion ion-camera"></i></button>
  </ion-nav-buttons>
  <div class="absolutize full-height full-width has-header has-tabs ">
      <article id="compassHousing">
        <canvas id="compassFace"></canvas>
        <canvas id="compassNeedle"></canvas>
      </article>
    <div class="" id="map" ng-init="ready()">
    </div>
  </div>

</ion-view>
